body {
    background-color: #e9e3e3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #646464;
}

header {
    background-color: #e394a2;
    max-width: 95%;
    margin: auto;
    color: white;
    text-align: center;
    box-shadow: 10px 10px 20px #00000033;
    padding: 20px;
    border-radius: 6px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 680px) {
    nav {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-top: 5px;
    }
}

.btn {
    color: #b50965;
    font-weight: 500;
    border-style: none;
    border-radius: 5px;
    background-color: white;
    padding: 6px;
    margin-right: 5px;
    box-shadow: 5px 5px 10px #00000033;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-decoration: none;
    text-shadow: 1px 1px 1px #00000033;
}

.btn:hover {
    text-decoration: underline;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

a:visited {
    /* background-color: aqua; */
}

#logo {
    color: white;
    font-size: 36px;
    text-shadow: 3px 5px 1px #00000033;
}

.tooltip {
    display: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-shadow: 1px 3px 1px #00000033;
}

/* #logo:hover {
    position: absolute;
    font-size: 38px;
    top: 25px;
    left: 45px;
} */

#logo:hover {

    .tooltip {
        display: inline-block;
        position: absolute;
        /* background-color: #e9e3e3; */
        border-radius: 10px;
        top: 36.5px;
        left: 68px;
        padding: .5em;
        /* z-index: 2; */
    }

}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 3px 5px 1px #00000033;
    letter-spacing: 3px;
    text-decoration: none;
}