body {
    background-color: #e9e3e3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #646464;
}

header {
    background-color: #e394a2;
    max-width: 95%;
    margin: auto;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px #00000033;
    padding: 20px;
    border-radius: 6px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 680px) {
    nav {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
    }

    a {
        margin-top: 5px;
    }
}

a {
    color: #b50965;
    font-weight: 500;
    border-style: none;
    border-radius: 5px;
    background-color: white;
    padding: 6px;
    margin-right: 5px;
    box-shadow: 5px 5px 10px #00000033;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-decoration: none;
    text-shadow: 1px 1px 1px #00000033;
}

a:hover {
    font-size: 20px;
}

i {
    font-size: 24px;
    text-shadow: 3px 5px 1px #00000033;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 3px 5px 1px #00000033;
    letter-spacing: 3px;
}