#profile-pic {
    /* width: 300px; */
    /* height: 300px; */
    width: 28.5%;
    border-radius: 50%;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #e394a2;
    box-shadow: #e394a2 0px 0px 8px 5px, #c08791 0px 0px 8px 5px, #8c6f74 0px 0px 8px 5px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

h2 {
    text-shadow: 2px 2px 2px #00000033;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0;
    max-width: 498px;
}

.animate-character {
    background-image: linear-gradient(-225deg,
            #e394a2 0%,
            #b50965 29%,
            #e394a2 67%,
            #ff1361 100%);
    /* background-size: auto auto; */
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    /* background-clip: text; */
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 90px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@media (max-width: 660px) {
    .intro {
        flex-direction: column;
    }

    #profile-pic {
        width: 60%;
    }

    h2 {
        margin-top: 0;
    }

}

@media (max-width: 580px) {
    .intro {
        flex-direction: column-reverse;

    }

    .animate-character {
        font-size: 45px;
    }

}