h2 {
    text-align: center;
}



.project-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-inline-start: 0;
    justify-content: center;
    /* margin: 5% auto; */
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    justify-content: center;
}

img {
    width: 30%;
    border-radius: 5px;
    border: 5px solid #e9e3e3;
    box-shadow: 5px 5px 10px #00000033;
    margin-bottom: 10px;
}

a {
    font-size: 22px;
    color: #b50965;
    text-underline-offset: 5px;
}

p {
    text-align: center;
}

p>a {
    font-size: 18px;
}