body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 20% 10% 25% 45%;
    height: 1056px;
    width: 816px;
    margin: 10px;
    color: #002147;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.full-name {
    grid-column: 2/3;
    grid-row: 1/2;
    border-bottom: solid #00000080 2pt;
    margin: 5px 5px;
    padding: 1px 0px 1px 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    color: #BB133E;
}

.full-name>h1 {
    max-width: 400px;
}


.head-shot {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 5px 5px;
    padding: 1px 0px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002147;
    border-radius: 4px;
}

img {
    border: solid #ffffff 2px;
    border-radius: 4px;
}

.head-shot>img {
    max-height: 150px;
}

.job-title {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 5px 5px;
    padding: 1px 0px 1px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    background-color: #002147;
    border-radius: 4pt;
}

.intro {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5px 5px;
    padding: 1px 0px 1px 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.contact-info {
    grid-column: 1/1;
    grid-row: 3/5;
    margin: 5px 5px;
    padding: 1px 0px 1px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    background-color: #002147;
    border-radius: 4pt;
}

.contact-info>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    text-transform: none;
}

.resume-content {
    grid-column: 2/2;
    grid-row: 3/5;
    margin: 5px 5px;
    padding: 1px 0px 1px 5px;
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

h3 {
    border-bottom: solid #00000080 2pt;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #BB133E;
}

div>h4 {
    line-height: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #BB133E;
}

div>p {
    line-height: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.fixing {
    font-size: 12px;
}

i {
    font-size: 20px;
    padding-top: 40px;
}

.organization {
    color: #BB133E;
}
