body {
    background-color: #e9e3e3;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;

}

form {
    background-color: #ffffff;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #00000033;
}

h1 {
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 20px 0px;
    color: #b50965;
    font-family: 'Pacifico', cursive;
}

input[type="date"],
input[type="email"],
input[type="color"],
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    padding: 0px 0px 0px 20px;
    color: #767676;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.boxy>label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 18px;
    padding: 2px 5px 8px 5px;
    color: #646464;
    font-size: 18px;
    overflow: hidden;
}


.boxy {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.options {
    display: block;
    padding: 9px;
    border-radius: 3px;
    color: #767676;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #b50965;
    background-color: #e9e3e3;
    border-radius: 3px;
    border-color: #767676;
    padding: 6px 6px 6px 6px;
}