form {
    max-width: 95%;
    margin: 10px auto;
    padding: 20px 33px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #00000033;
    border-radius: 6px;
}

h2 {
    margin-top: 0;
    color: #e394a2;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px #00000033;
}

input[type="date"],
input[type="email"],
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    padding: 0px 0px 0px 20px;
    color: #767676;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
}


.boxy>label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 18px;
    padding: 2px 5px 8px 5px;
    color: #646464;
    font-size: 18px;
    overflow: hidden;
    text-shadow: 1px 1px 1px #00000033;
}


.boxy {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.options {
    display: block;
    padding: 9px;
    border-radius: 3px;
    color: #767676;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #b50965;
    background-color: #e9e3e3;
    border-radius: 3px;
    border-color: #767676;
    padding: 6px 6px 6px 6px;
}


input[type="color"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 30%;
    display: block;
    outline: none;
    border-radius: 3px;
    border-color: #767676;
    height: 25px;
    padding: 1px 1px 1px 1px;
    margin: 20px 20px 10px 20px;

}