.about-lisa {
    display: flex;
    margin: 1%;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #e394a2;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.storytime {
    width: 65%;
    margin-right: 5%;
}

.sidebar {
    border-radius: 10px;
    box-shadow: 10px 10px 20px #00000033;
    width: 30%;
    height: 300px;
    background-image: linear-gradient(to top right,
            #91defe,
            #99c0f9,
            #bdb6ec,
            #d7b3e3,
            #efb3d5,
            #e394a2);
}

.sidebar>h2,
.the-lists {
    color: white;
    font-weight: 300;
}

.the-lists {
    list-style-type: none;
    margin-top: 40px;
}

select {
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    width: 96%;
    margin: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

.sidebar>p {
    color: white;
}

@media (max-width:800px) {
    .about-lisa {
        flex-direction: column-reverse;
        align-items: center;
    }

    .sidebar {
        width: 40%;
    }

    .storytime {
        width: 85%;
        margin-top: 30px;
    }
}

@media (max-width:580px) {
    .sidebar {
        width: 96%;
    }
}